In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass
password = getpass.getpass()

In [2]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

# Data selection.

Our **selected features** are: **film length, film categories, film rating, film special features,** and **rental_duration**.

We went throught the tables and think these could be the features most influencing the customers' choices.

We use the following query to obtain the data from sakila database.

We obtain our features, film_ids and whether or not they were rented in may.

In [3]:
query = '''SELECT
DISTINCT f.film_id,
f.rental_duration,
f.length,
f.rating,
f.special_features,
c.name AS category,
CASE 
WHEN MONTH(r.rental_date) = 5 THEN 'true'
ELSE 'false'
END AS rented_in_may
FROM
film  f
JOIN
film_category fc ON f.film_id = fc.film_id
JOIN
category c ON fc.category_id = c.category_id
LEFT JOIN
inventory i ON f.film_id = i.film_id
LEFT JOIN 
rental r ON i.inventory_id = r.inventory_id;'''

data = pd.read_sql(query, engine)
data

,film_id,rental_duration,length,rating,special_features,category,rented_in_may
0,19,6,113,PG,"Commentaries,Deleted Scenes,Behind the Scenes",Action,false
1,19,6,113,PG,"Commentaries,Deleted Scenes,Behind the Scenes",Action,true
2,21,3,129,R,"Commentaries,Behind the Scenes",Action,true
3,21,3,129,R,"Commentaries,Behind the Scenes",Action,false
4,29,5,168,NC-17,"Trailers,Commentaries,Deleted Scenes",Action,true
...,...,...,...,...,...,...,...
1681,977,3,85,R,"Deleted Scenes,Behind the Scenes",Travel,false
1682,981,7,55,NC-17,Behind the Scenes,Travel,false
1683,988,7,139,R,"Trailers,Commentaries,Behind the Scenes",Travel,false
1684,989,4,74,R,"Commentaries,Deleted Scenes",Travel,false
1685,989,4,74,R,"Commentaries,Deleted Scenes",Travel,true

For the films that have some copies rented in may and some copies that were not rented, we are getting two rows (one row with True for the copy that was rented in may and one False for the copies that were not rented).
So we decide to sort by descending order (putting the Trues first) and then drop duplicates. We end up with 1000 rows (unique film ids).

In [4]:
data = data.sort_values(by='rented_in_may', ascending=False)

In [5]:
data = data.drop_duplicates(subset='film_id', keep='first')

In [6]:
data

,film_id,rental_duration,length,rating,special_features,category,rented_in_may
843,700,4,115,R,"Trailers,Deleted Scenes",Family,true
909,353,6,125,NC-17,"Commentaries,Deleted Scenes",Foreign,true
836,639,7,92,PG,Deleted Scenes,Family,true
839,679,6,50,PG,"Trailers,Deleted Scenes",Family,true
841,682,4,134,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Family,true
...,...,...,...,...,...,...,...
918,431,3,176,G,"Trailers,Commentaries,Deleted Scenes",Foreign,false
299,755,5,99,PG,"Trailers,Behind the Scenes",Children,false
925,455,7,103,NC-17,Deleted Scenes,Foreign,false
926,459,4,74,NC-17,"Trailers,Commentaries",Foreign,false
927,460,3,178,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Foreign,false

# Treating the data.

We sort film lengths into three categories: short, moderate and long.

In [7]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
film_id,1000.0,500.500,288.819436,1.0,250.75,500.5,750.25,1000.0
rental_duration,1000.0,4.985,1.411654,3.0,4.00,5.0,6.00,7.0
length,1000.0,115.272,40.426332,46.0,80.00,114.0,149.25,185.0

In [8]:
binnames = ["Short", "Moderate", "Long"]
data['length_binned'] = pd.cut(data['length'],[0,90,135,200], labels = binnames)

In [9]:
data['length_binned'].value_counts()

Long        353
Short       325
Moderate    322
Name: length_binned, dtype: int64

We have four categories of special features. We encode each one of them in one column (1 or 0).

In [10]:
features = ['Trailers', 'Deleted Scenes', 'Behind the Scenes', 'Commentaries']
for feature in features:
    data[feature] = data['special_features'].str.contains(feature).astype(int)

In [11]:
data

,film_id,rental_duration,length,rating,special_features,category,rented_in_may,length_binned,Trailers,Deleted Scenes,Behind the Scenes,Commentaries
843,700,4,115,R,"Trailers,Deleted Scenes",Family,true,Moderate,1,1,0,0
909,353,6,125,NC-17,"Commentaries,Deleted Scenes",Foreign,true,Moderate,0,1,0,1
836,639,7,92,PG,Deleted Scenes,Family,true,Moderate,0,1,0,0
839,679,6,50,PG,"Trailers,Deleted Scenes",Family,true,Short,1,1,0,0
841,682,4,134,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Family,true,Moderate,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
918,431,3,176,G,"Trailers,Commentaries,Deleted Scenes",Foreign,false,Long,1,1,0,1
299,755,5,99,PG,"Trailers,Behind the Scenes",Children,false,Moderate,1,0,1,0
925,455,7,103,NC-17,Deleted Scenes,Foreign,false,Moderate,0,1,0,0
926,459,4,74,NC-17,"Trailers,Commentaries",Foreign,false,Short,1,0,0,1
927,460,3,178,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Foreign,false,Long,1,1,1,0

We remove length, special_features and film_id columns as we are not going to be using them anymore.

In [12]:
data = data.drop('length', axis=1)

In [13]:
data = data.drop('film_id', axis=1)

In [14]:
data = data.drop('special_features', axis=1)

In [15]:
data

,rental_duration,rating,category,rented_in_may,length_binned,Trailers,Deleted Scenes,Behind the Scenes,Commentaries
843,4,R,Family,true,Moderate,1,1,0,0
909,6,NC-17,Foreign,true,Moderate,0,1,0,1
836,7,PG,Family,true,Moderate,0,1,0,0
839,6,PG,Family,true,Short,1,1,0,0
841,4,PG-13,Family,true,Moderate,1,1,1,0
...,...,...,...,...,...,...,...,...,...
918,3,G,Foreign,false,Long,1,1,0,1
299,5,PG,Children,false,Moderate,1,0,1,0
925,7,NC-17,Foreign,false,Moderate,0,1,0,0
926,4,NC-17,Foreign,false,Short,1,0,0,1
927,3,PG-13,Foreign,false,Long,1,1,1,0

In [16]:
data.dtypes

rental_duration         int64
rating                 object
category               object
rented_in_may          object
length_binned        category
Trailers                int32
Deleted Scenes          int32
Behind the Scenes       int32
Commentaries            int32
dtype: object

We change the dataframe type to "object" (all of our features are categorical)

In [17]:
data = data.astype('object')

In [18]:
data.dtypes

rental_duration      object
rating               object
category             object
rented_in_may        object
length_binned        object
Trailers             object
Deleted Scenes       object
Behind the Scenes    object
Commentaries         object
dtype: object

We have no nans.

In [19]:
data.isna().value_counts()

rental_duration  rating  category  rented_in_may  length_binned  Trailers  Deleted Scenes  Behind the Scenes  Commentaries
False            False   False     False          False          False     False           False              False           1000
dtype: int64

# X-y split.

In [20]:
y = data['rented_in_may']
X = data.drop('rented_in_may', axis=1)

# Train-test split.

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [22]:
X_train

,rental_duration,rating,category,length_binned,Trailers,Deleted Scenes,Behind the Scenes,Commentaries
1016,6,G,Games,Long,1,0,1,0
1559,6,PG-13,Sports,Long,0,0,0,1
560,5,PG,Documentary,Moderate,0,0,1,0
1666,7,PG-13,Travel,Moderate,0,0,1,1
962,5,PG,Foreign,Long,0,0,0,1
...,...,...,...,...,...,...,...,...
1038,5,R,Games,Moderate,0,1,0,0
614,5,R,Documentary,Moderate,0,0,0,1
1593,6,PG,Sports,Long,1,1,1,0
1638,7,NC-17,Travel,Long,1,0,1,0
867,5,PG,Family,Long,1,1,1,1

In [23]:
X_train_index = X_train.index

# X_train encoding.

We remove the columns that we have already encoded and encode the other ones with one-hot encoder.

In [24]:
X_train_1 = X_train[['rental_duration', 'rating', 'category', 'length_binned']]

In [25]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first').fit(X_train_1)
cols = encoder.get_feature_names_out(input_features=X_train_1.columns)

In [26]:
X_train_1_encoded = pd.DataFrame(encoder.transform(X_train_1).toarray(),columns=cols)
X_train_1_encoded.head()

,rental_duration_4,rental_duration_5,rental_duration_6,rental_duration_7,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_Animation,category_Children,...,category_Foreign,category_Games,category_Horror,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,length_binned_Moderate,length_binned_Short
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
X_train_transf = pd.concat([X_train_1_encoded.reset_index(drop=True), X_train[['Trailers', 'Deleted Scenes', 'Behind the Scenes', 'Commentaries']].reset_index(drop=True)], axis=1)

# X_test encoding.

The same encoding process.

In [28]:
X_test_1 = X_test[['rental_duration', 'rating', 'category', 'length_binned']]

In [29]:
X_test_1_encoded = pd.DataFrame(encoder.transform(X_test_1).toarray(),columns=cols)
X_test_1_encoded.head()

,rental_duration_4,rental_duration_5,rental_duration_6,rental_duration_7,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_Animation,category_Children,...,category_Foreign,category_Games,category_Horror,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,length_binned_Moderate,length_binned_Short
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
X_test_transf = pd.concat([X_test_1_encoded.reset_index(drop=True), X_test[['Trailers', 'Deleted Scenes', 'Behind the Scenes', 'Commentaries']].reset_index(drop=True)], axis=1)

# Logistic regression model and results.

In [31]:
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression(solver='lbfgs').fit(X_train_transf, y_train)

In [32]:
predictions = classification.predict(X_test_transf)
classification.score(X_test_transf, y_test)

0.705

In [33]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[  7,  56],
       [  3, 134]], dtype=int64)

In [34]:
pd.Series(y_test).value_counts()

true     137
false     63
Name: rented_in_may, dtype: int64

In [35]:
pd.Series(predictions).value_counts()

true     190
false     10
dtype: int64

# Neighbors model and results.

In [36]:
from sklearn import neighbors
clf = neighbors.KNeighborsClassifier(n_neighbors=3, weights='uniform')
clf.fit(X_train_transf, y_train)

KNeighborsClassifier(n_neighbors=3)

In [37]:
predictions_clf = clf.predict(X_test_transf)
clf.score(X_test_transf, y_test)

0.62

In [38]:
confusion_matrix(y_test, predictions_clf)

array([[ 16,  47],
       [ 29, 108]], dtype=int64)

In [39]:
pd.Series(y_test).value_counts()

true     137
false     63
Name: rented_in_may, dtype: int64

In [40]:
pd.Series(predictions_clf).value_counts()

true     155
false     45
dtype: int64

We tried with different parameters, but neither the logistic nor the neighbors model give us great results.

# Undersampling.

In [41]:
X_train_transf.index = X_train_index

In [42]:
train = pd.concat([X_train_transf, y_train],axis=1)
train.shape

(800, 30)

In [43]:
y_train.value_counts()

true     549
false    251
Name: rented_in_may, dtype: int64

In [44]:
no_may = train[train['rented_in_may']=='false']
yes_may = train[train['rented_in_may']=='true']

In [45]:
from sklearn.utils import resample

In [46]:
yes_may_undersampled = resample(yes_may, #<- downsample from here
                                    replace=False, #<- no need to reuse data now, we have an abundance
                                    n_samples = len(no_may))

In [47]:
display(no_may.shape)
display(yes_may_undersampled.shape)

(251, 30)

(251, 30)

In [48]:
train_undersampled = pd.concat([no_may, yes_may_undersampled], axis=0)
train_undersampled

,rental_duration_4,rental_duration_5,rental_duration_6,rental_duration_7,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_Animation,category_Children,...,category_Sci-Fi,category_Sports,category_Travel,length_binned_Moderate,length_binned_Short,Trailers,Deleted Scenes,Behind the Scenes,Commentaries,rented_in_may
1016,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0,1,0,false
1559,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0,0,0,1,false
1525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1,0,0,0,false
1573,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0,0,1,1,false
325,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0,0,1,1,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,true
1618,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0,1,1,1,true
561,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0,1,0,0,true
335,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0,1,1,0,true
1188,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1,1,0,1,true

In [49]:
y_train_under = train_undersampled['rented_in_may'].copy()
X_train_under = train_undersampled.drop('rented_in_may', axis = 1).copy()

# Logistic regression model 2 (after undersampling) and results.

In [50]:
logreg2 = LogisticRegression(solver='lbfgs')
logreg2.fit(X_train_under, y_train_under)

LogisticRegression()

In [51]:
logreg2.score(X_test_transf, y_test)

0.59

In [52]:
pred2 = logreg2.predict(X_test_transf)

In [53]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
print("precision: ",precision_score(y_test, pred2, pos_label='false'))
print("recall: ",recall_score(y_test, pred2, pos_label='false'))
print("f1: ",f1_score(y_test, pred2, pos_label='false'))

precision:  0.4020618556701031
recall:  0.6190476190476191
f1:  0.48750000000000004

In [54]:
confusion_matrix(y_test, pred2)

array([[39, 24],
       [58, 79]], dtype=int64)

The undersampling **improves significantly the recall for negatives (the minority)**.

We are able to predict much better the films that are not rented based on the data, although not with a great result. A really simple model would probably obtain similar results.